<form action='/names' method='POST'>
  <input type='text' name='Player 1'>Enter Player 1 name</input>
  <input type='text' name='Player 2'>Enter Player 2 name</input>
  <input type='submit' value='Submit'></input>
</form>
